*{
    margin: 3px;
    padding: 5px;
}
body{
    background-color: #D5DBDB;
}
header{
    height: 90px;
    background-color: #2C3E50;
    text-align: center;
    padding-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
}
nav{
    width: 45%;
    height:300px;
    background-color: whitesmoke;
    text-align: left;
    margin-top: 25px;
}
.imgbask{
    height: 70%;
    width: 30%;
}
aside{
    width: 45%;
    height: 298px;
    background-color: #85929E ;
    text-align: left;
    float: right;
    margin-top: 45px;
}
.imgvol{
    height: 70%;
    width: 30%;
}
div{
    width: 45%;
    height: 300px;
    background-color: #85929E ;
    text-align: left;
    margin-top: 0px;
}
h2{
    text-align: center;
}
.imgfut{
    height: 70%;
    width: 30%;
}
section{
    width: 45%;
    height: 300px;
    background-color: whitesmoke;
    text-align: left;
    float: right;
    margin-top: 20px;
}
.imgnat{
    height: 70%;
    width: 31%;
}